:root{
    --body-background-color: rgba(232, 240, 254, 1.0); 
    --header-background-color: rgba(10, 42, 70, 85%); 
    --main-background-color: rgba(232, 240, 254, 1.0); 
    --footer-background-color: rgba(10, 42, 70, 85%); 

    --todo-list-background-color:   rgba(10, 42, 70, 100%); 
    --todo-list-header-background-color: rgba(10, 42, 70, 85%); 
    --todo-list-heading-font-color:  rgba(255, 255, 255, 1);
    --todo-list-main-background-color: rgba(255, 255, 255, 0.3);
    --todo-list-footer-background-color: rgba(10, 42, 70, 85%); 
    
    --todo-item-background-color: rgb(255, 255, 255, 1);
    --todo-item-font-color: rgba(10, 42, 70, 1);
    
    --button-background-color: rgba(255, 255, 255, 1);
    --button-font-color: rgba(10, 42, 70, 85%); 
    --button-hover-color:  rgba(200, 200, 200, 0.90);                                 
    --button-active-color: rgb(150, 153, 155);                                 
    --font-family-01: arial, Helvetica; 
}

/* ---------------------------------------------------------------- */
/* MAJOR ELEMENTS */
/* ---------------------------------------------------------------- */

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family:'Arial', sans-serif;
}

p {
  font-size: clamp(10px, 2vh, 20px);
}

h3{
  font-size: clamp(14px, 2.8vh, 28px);
  color: var(--todo-list-heading-font-color);
}


/* ---------------------------------------------------------------- */
/* MAJOR CONTAINERS */
/* ---------------------------------------------------------------- */

.body-container{
    font-family: var(--font-family-01);
    background-color: var(--body-background-color);
} 

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    gap: 4%;
}


/* ---------------------------------------------------------------- */
/* TODO LIST*/
/* ---------------------------------------------------------------- */

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: clamp(200px, 60vh, 100vh);
    width: 95vw;
    max-width: 400px; 
    background-color:  var(--todo-list-background-color);  
    border-radius: 5px;
    margin: min(1.5vw, 1.5vh); 

} 

.todo-list-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: min(1.5vw, 1.5vh);
  align-items: center;
}

.todo-list-heading{
  font-size: clamp(10px, 2.2vh, 18px); 
  flex-grow: 1; 
} 

.todo-list-heading[contenteditable="true"] {
  border: 1px solid #ccc;
}

.hidden{
  display: none;
}

.button{
  display: flex;
  height:  clamp(16px, 2.6vh, 30px);
 /*  width: clamp(16px, 2.6vh, 30px); */
  padding: 0;
  margin: 0 0.1vh;
  justify-content: center;
  align-items: center;
}

.status-of-todo-item-btn{
  background-color: var(--todo-item-background-color);
  border: none;
  cursor: pointer;
}

.status-of-todo-item-btn.checked{
  background-color: var(--todo-item-background-color);
  border: none;
}
  

.delete-todo-list-btn{
  margin-top: 0;
}

.icon{
  height: clamp(12px, 1.8vh, 23px);
  width: clamp(12px, 1.8vh, 23px);
}

.bold{
  font-weight: 600;
}

.todo-list-main{
  flex-grow: 1;
  width: 100%;
  background-color: var(--todo-list-main-background-color);
  padding: min(1.5vw, 1.5vh);
  overflow-y: scroll;
}

.todo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.7vh 0.7vw;
  width: 100%;
  background-color: var(--todo-item-background-color);
  border-radius: 5px;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  cursor: grab;
}

.todo-item-description-p{
  flex-grow: 1;
  margin: 0 0.7vh;
}

.todo-item-description-p[contenteditable="true"] {
  border: 1px solid var(--todo-item-font-color);
}

.todo-list-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  border-top:azure;
  border-color: var(--todo-item-background-color);
  border-top-width: 2px;
  padding: min(1.5vw, 1.5vh);
}

.add-todo-item-description-input{
  border-width: 1px;
  flex-grow: 1;
  padding: 0.7vh;
  border-radius: 5px;
  font-size: clamp(10px, 2vh, 20px);
}

.add-todo-item-btn{
  height: 100%;
  border-radius: 5px;
  padding: 0 0.7vh;
  font-size: clamp(10px, 2vh, 20px);
}

.add-todo-item-info-btn{
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
  padding: 0;
  margin: 0;
}

/* INFO-DIALOG */

.info-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
  
.info-dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


